h1{
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size:100px;
  font-weight: bold:
  font-family: Helvetica;
  text-align: center;
}
h2.brush{
  background-color: mediumspringgreen;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
}
body{
  font-family: Helvetica;
}
h2.frame{
  background-color: lightcoral;
}
h2.paint{
  background-color: skyblue;
}
